
        body {
            background: black;
            margin: 0;
            padding: 0;
        }

        .header { 
            color: #cda82a;
            font-size: 107%;
            font-family: Roboto, "Arial Bold", sans-serif;
            text-transform: uppercase;
            text-align: center;
            background-color: transparent;
            margin: 0 auto;
        }

        .head1, .head2, .head3 {
            color: #cda82a;
            font-size: 160%;
            font-family: Roboto, "Arial Bold", sans-serif;
            text-align: left;
            margin: 20px 3.5%;
        }

        .head1 {
            font-size: 187.5%;
        }

        .content {
            margin: 20px 3.5%;
            color: white;
            font-family: "Arial Bold", sans-serif;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            margin:5%;
            text-align: justify;
        }

        .images {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }

        .images img {
            width: 100%;
            height: auto;
        }

       
        @media (min-width: 300px) {
            .images img {
                width: 30%;
            }
        }

       
        @media (min-width: 601px) {
            .images img {
                width: 20%;
            }
        }

        @media (min-width: 901px) {
            .images img {
                width: 15%;
            }
        }

        @media (min-width: 1200px) {
            .images img {
                width: 15%;
            }
        }

        .portada {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            width: 80%;
            height: auto;
        }

        @media (min-width: 300px) {
            .portada {
                width: 60%;
            }
        }
        
        @media (min-width: 601px) {
            .portada {
                width: 50%;
            }
        }

        @media (min-width: 901px) {
            .portada {
                width: 20%;
            }
        }


        @media (min-width: 1200px) {
            .portada {
                width: 25%;
            }
        }

        .head2, .head3 {
            margin-top: 20px;
        }
